
<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>
        <style>
            .error{ 
                color:fuchsia
                font-style: italic; }
            .user_account{
                float: right;
            }
            .blog_author{
                font-style: italic;
                font-size: 12px;
            }
        </style>
    </head>
    </head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Main Blog Page</a></li>
                <li><a href="/newpost">Add a Blog Entry</a></li>
                <li><a href="/signup">User Signup</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>