{% extends "base.html" %}

{% block content %}
    <center><h1>Blog Post!</h1></center>

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}
    {% for blog in blogs %}
        <a href="./blog?id={{blog.id}}"><h2>{{blog.title}}</h2></a>
        {{blog.body}}
        {% for user in all_users %}
            {% if blog.owner_id == user.id %}
                <p class="blog_author">written by: <a href="./blog?user={{user.username}}">{{user.username}}</a></p>
            {% endif %}
        {% endfor %}    
    {% endfor %}
    {% endif %}
{% endblock %}